# App Config
APP_PORT=3000
NODE_ENV=development
JWT_SECRET=replace_this_with_a_strong_secret
JWT_EXPIRES_IN=3600s


# Database
DB_NAME=aitika
DB_USER=user
DB_PW=pass
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PW}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
# e.g: DATABASE_URL=postgresql://user:pass@localhost:5432/aitika?schema=public

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=productionOnly

# Dev Tools 
REDIS_UI_PORT=5540
PG_ADMIN_PORT=5050